{% extends 'base.html' %}
{% block title %}Eliminar Mensaje{% endblock %}
{% block content%}
    <form method="post" class="eliminarMensaje">
        {% csrf_token %}
        <h1>Eliminar Mensaje</h1>
        <div class="eliminarMensaje cuadro">
            <h3>Seleccione un mensaje para eliminar</h3>
            <ul>
                {% for mensaje in mensajes %}
                    <div class="radioConMensaje">
                        <input type="radio" name="id" value="{{ mensaje.id }}">
                        <li class="mensaje">
                            <div class="nombre">
                                De: {{ mensaje.emisor }} <br>
                                Para: {{ mensaje.receptor }}
                            </div>
                            <div class="texto">
                                {{ mensaje.texto }}
                            </div>
                            <div class="fechaHora">
                                {{ mensaje.fechaEnvio|date:"H:i d/m/Y" }}
                            </div>
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <button class="eliminarMensaje boton" type="submit">Eliminar</button>
    </form>
{% endblock %}
