{% extends 'base.html' %}
{% block title %}Ver Enviados{% endblock %}
{% block content%}
    <form class="formulario" method="get">
        {% csrf_token %}
        <h1>Ver Mensajes Enviados</h1>
        <input name="emisor" placeholder="Ingrese el remitente...">
        <button type="submit">Buscar</button>
    </form>
    <div class="listaMensajes">
        <h3>{{ titulo }}</h3>
        <ul>
            {% for mensaje in mensajes %}
            <li class="mensaje">
                <div class="nombre">
                    {{ mensaje.receptor }}
                 </div>
                <div class="texto">
                    {{ mensaje.texto }}
                </div>
                <div class="fechaHora">
                    {{ mensaje.fechaEnvio|date:"H:i d/m/Y" }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

