*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: #07C6E8;
}

.container{
    display: flex;
    flex-direction: column;
}

.titulo{
    padding: 20px;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    background-color: #07E8C0;
}

.enlaces{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: #077FE8;
    font-size: 20px;
}

.enlaces a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    background-color: #077FE8;
    text-align: center;
}

.enlaces a:hover{
    color: #0738E8;
    background-color: #07E8C0;
    border-radius: 10px;
}

.contenido{
    background-color: #07C6E8;
    padding: 20px;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.formulario *{
    margin-bottom: 10px;
    width: 500px;
    border: 1px transparent;
    font-size: 25px;
    outline: none;
}

.formulario *:placeholder-shown{
    padding: 10px;
}

.formulario textarea{
    height: 200px;
    resize: none;
    overflow-y: scroll;
}

.formulario input{
    height: 40px;
}

.formulario button{
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #07E8C0;
}

.formulario button:hover{
    background-color: #077FE8;
    color: white;
}