*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: #07C6E8;
}

.container{
    display: flex;
    flex-direction: column;
}

.titulo{
    padding: 20px;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    background-color: #07E8C0;
}

.enlaces{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: #077FE8;
    font-size: 20px;
}

.enlaces a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    background-color: #077FE8;
    text-align: center;
}

.enlaces a:hover{
    color: #0738E8;
    background-color: #07E8C0;
    border-radius: 10px;
}

.contenido{
    background-color: #07C6E8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario *{
    margin-bottom: 10px;
    width: 500px;
    border: 1px transparent;
    font-size: 25px;
    outline: none;
}

.formulario *:placeholder-shown{
    padding: 10px;
}

.formulario h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.formulario textarea{
    height: 200px;
    resize: none;
    overflow-y: scroll;
}

.formulario input{
    height: 40px;
}

.formulario button{
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #07E8C0;
}

.formulario button:hover{
    background-color: #077FE8;
    color: white;
}

.listaMensajes{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.listaMensajes h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.listaMensajes ul{
    border-radius: 10px;
    background-color: #077FE8;
    list-style: none;
    padding: 10px;
    width: 100%;
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #abebc6;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.mensaje .nombre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
}

.mensaje .fechaHora{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-weight: bold;
}

.eliminarMensaje{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eliminarMensaje h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.eliminarMensaje .cuadro{
    background-color: #077FE8;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eliminarMensaje .cuadro h3{
    margin-bottom: 20px;
    font-size: 30px;
}

.eliminarMensaje .cuadro ul{
    width: 100%;
}

.eliminarMensaje .boton{
    margin-top: 30px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #07E8C0;
    font-size: 20px;
}

.eliminarMensaje .boton:hover{
    background-color: #077FE8;
    color: white;
}

.radioConMensaje{
    display: flex;
    min-width: 500px
}

.radioConMensaje input{
    width: 20px;
    margin-right: 10px;
}

.radioConMensaje mensaje{
    width: 100%;
}